#wpbody-content > .wrap > .row > .col-12 >.updated,
#wpbody-content > .wrap > .row > .col-12 > .notice {
   display:none !important;
}

#wpcontent {
    background: #f1f1f1 !important;
}

#loader {
    background: rgba(255,255,255,.7) url('../img/loader.gif') 50% 200px no-repeat;
    position: absolute;
    height: 100%;
    width: calc(100% + 20px);
    margin-left: -20px;
    z-index: 10;
}
.read-form[data-toggle],
.read-form[data-placement],
.read-form[data-bs-original-title] {
    z-index: 100 !important;
}

.alert p,
.alert ul {
    font-size: 14px;
}
.alert p {
    font-weight: 600;
}
.alert .dashicons {
    width: 15px;
    font-size: 17px;
    vertical-align: middle;
}
.alert small .dashicons {
    width: 13px;
    font-size: 11px;
    vertical-align: baseline;
}
.rtl .alert small {
    display: none;
}
.alert small .ctrl-apple {
    display: inline flow-root list-item;
    width: 10px;
    height: 10px;
    background: url(../img/ctrl-apple.png) center bottom/9px 9px no-repeat;
}

.entries {
    margin-bottom: 0;
}
.entries thead,
.forms thead th {
    background: #1d2327;
    color: #fff;
}
.entries tbody,
.forms tbody {
    background: #fff !important;
}
.entries th, .entries td,
.forms th, .forms td {
    white-space: nowrap;
}
.forms tr td:first-child {
    min-width: 200px;
}
.forms tr td:nth-child(2) {
    min-width: 35px;
    text-align: right !important;
}
.forms tr td:nth-child(3),
.forms tr td:nth-child(4) {
    width: 40px !important;
}
.forms tr td:nth-child(3) {
    padding: .6rem .5rem .4rem !important;
}
.forms tr td:nth-child(4) {
    padding: .7rem .5rem .3rem !important;
}
.entries th {
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}
.entries tbody tr:hover {
    cursor: default;
}
.entries tbody tr.focus {
    background: #ddd;
}
.read-form {
    cursor: pointer;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1d2327;
}


#labels-content .custom-checkbox {
    display: flex;
    white-space: nowrap;
}
#labels-content .custom-control-label {
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#labels-content .custom-control-input {
    margin-top: 2px;
}

#pills-tab {
    position: relative;
    border-bottom: 1px solid #ddd !important;
}
#pills-tab .download-file button {
    position: absolute;
    right: 0;
    padding: 19px 35px !important;
    background: #1d2327 url(../img/file-donwload.png) center/20px 20px no-repeat !important;
    border: 1px solid #fff;
    border-radius: 5px;
}
.rtl #pills-tab .download-file button {
    right: unset;
    left: 0;
}
#pills-tab .download-file button:hover {
    border-color: #666;
}

#datatables {
    border-bottom: 0;
}
#datatables_length {
    margin-top: 5px;
}
#datatables_length select {
    width: 55px;
    padding: 2px 4px;
    margin: -5px 5px 0;
}
@media (max-width: 782px) {
    #datatables_length select {
        margin: -4px 0 0;
        padding: 4px;
    }
    .d-custom {
        display: none;
    }
}
#datatables_wrapper .dt-buttons {
    display: none;
}
#datatables_wrapper table.dataTable tbody > tr.selected {
    background: #b3b3b3;
}
#datatables_filter input {
    padding: 0 8px;
}
.table-overflow {
    border-bottom: 1px solid #ddd;
    overflow: auto !important;
    scrollbar-color: #1d2327 #ddd;
}
.table-overflow::-webkit-scrollbar-track {
  background: #ddd;
}
.table-overflow::-webkit-scrollbar-thumb {
  background-color: #1d2327;
}
#datatables_paginate {
    margin-top: 7px;
}
#datatables_paginate a {
    padding: 1px 10px 2px;
    border-width: 0 !important;
}
#datatables_paginate span a {
    background: #1d2327;
    color: #fff !important;
}
#datatables_paginate span a.current {
    background: #666;
    color: #fff !important;
    cursor: default !important;
}
.dataTables_wrapper .dataTables_paginate > .paginate_button:not(.disabled):hover, 
.dataTables_wrapper .dataTables_paginate > .paginate_button:not(.disabled):active, 
.dataTables_wrapper .dataTables_paginate > .paginate_button:not(.disabled):focus {
    background: none;
    color: #000 !important;
    text-decoration: underline !important;
    border-color: transparent !important;
    box-shadow: inset 0 0 transparent !important;
}

.list-table thead th {
    padding: 4px 20px 4px 4px !important;
    font-size: 15px;
}
.rtl .list-table thead th {
    padding: 4px 4px 4px 20px !important;
}
.list-table thead tr .sorting {
    background-position: 100% 6px !important;
}
.rtl .list-table thead tr .sorting {
    background-position: 0 8px !important;
}
.list-table tbody tr td:first-child {
    text-align: right;
}
.rtl .list-table tbody tr td:first-child {
    text-align: left;
}
.dataTables_wrapper .dataTables_info {
    font-size: 14px;
    margin-top: 2px;
}
#deselect {
    width: 18px;
    height: 18px;
    font-size: 18px;
    vertical-align: text-bottom;
    cursor: pointer;
}